<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班主任管理系统</title>
     <link href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div width="100%" height="150" border="0" cellpadding="0" cellspacing="0">
    <div width="100%" height="150"><img src="../../static/img/title.jpg" width="100%" height="150" /></div>
</div>
<table width="100%" height="800px" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td rowspan="9" valign="top"  style="width: 160px"  id="sidebar">
      <div class="col-md-12 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="student.html">
              <span class="glyphicon glyphicon-user"> 学生基本信息管理</span> </a></li>
            <li>
              <a href="integral.html">
                <span class="glyphicon glyphicon-leaf"> 积分考核管理</span>
              </a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>
              <a href="daily.html">
              <span class="glyphicon glyphicon-book"> 班主任日常事务管理</span>
              </a>
            </li>
            <li>
              <a href="message.html">
              <span class="glyphicon glyphicon-envelope"> 消息公布、留言板 </span>
                <span class="badge">14</span>
              </a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="popedon.html">
              <span class="glyphicon glyphicon-cog"> 用户权限设置管理</span></a></li>
            <li>
              <a href="log.html">
              <span class="glyphicon glyphicon-tag"> 登入、登出管理</span>
              </a>
            </li>
          </ul>
        </div>
    </td>
  </tr>
  <tr >
    <td colspan="2" valign="top" id="manTitle" >
      <h3 class="text-center" >班 级 积 分 管 理</h3>
    </td>
  </tr>
  <tr>
    <td width="557" rowspan="4" valign="top" bgcolor="#FFFFFF" >
      <form name="form2" method="post" action="">
        <table width="100%" height="345"  border="0" align="center" cellpadding="0" cellspacing="0">
          <tr class="css1">
            <td width="52%"><div align="left">时间：
              <input type="text" name="textfield5">
            </div></td>
            <td colspan="2"><div align="left">班级编号：
              <input type="text" name="textfield55">
            </div></td>
          </tr>
          <tr class="css1">
            <td><div align="left">原因：
             <select name="select">
                  <option>纪律</option>
                  <option>出勤</option>
                  <option>卫生</option>
				          <option>其它</option>
                </select>              
            </div></td>
            <td colspan="2"><div align="left">增扣分值：
                <input type="text" name="textfield6">              
            </div></td>
          </tr>
          <tr class="css1">
            <td><div align="left">记录人姓名：
              <input type="text" name="textfield54">
            </div></td>
            <td colspan="2"><div align="left">记录人编号：
              <input type="text" name="textfield58">
            </div></td>
          </tr>
          <tr class="css1">
            <td height="178" colspan="3"><p align="left">描述信息</p>
                <p align="left">
                  <textarea name="textarea" cols="50" rows="5"></textarea>
              </p></td>
          </tr>
          <tr class="css1">
            <td><div align="left">当日：
              <input type="text" name="textfield3">
            </div></td>
            <td width="28%"><div align="left">
                <input type="submit" name="Submit3" value="明细">
            <input type="submit" name="Submit8" value="排序">
            </div></td>
            <td width="20%" rowspan="4"><input type="submit" name="Submit7" value="修改"></td>
          </tr>
          <tr class="css1">
            <td height="28"><div align="left">当周：
              <input type="text" name="textfield">
            </div></td>
            <td><div align="left">
                <input type="submit" name="Submit4" value="明细">
            　　
            <input type="submit" name="Submit82" value="排序">
            </div></td>
          </tr>
          <tr class="css1">
            <td><div align="left">当月：
                <input type="text" name="textfield4">

              </div></td>
            <td><div align="left">
              <input type="submit" name="Submit42" value="明细">
            　　
            <input type="submit" name="Submit822" value="排序">
            </div></td>
          </tr>
          <tr class="css1">
            <td>本学期：
            <input type="text" name="textfield2"></td>
            <td><input type="submit" name="Submit43" value="明细">　
              　
              <input type="submit" name="Submit8222" value="排序"></td>
          </tr>
          <tr class="css1">
            <td><input type="submit" name="Submit6" value="查找">
（根据班级编号查找）</td>
            <td colspan="2"><input type="submit" name="Submit5" value="修改个人考核"></td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
  <footer class="" id="footer">
    <div class="container">
    <p class="text-center">© 2021 
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <a href="https://www.github.com/Crud628">班主任管理系统</a></p>
    </div>
  </footer>
</body>
</html>

