@charset "UTF-8";
#main{
       margin:30px auto;
       height: 600px;
       width: 700px;
       background: rgba(255,255,255,0.5);
   }
#title{
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}
#btn{
    background: #036;
    color: white;
    border: none;
    outline: none;
    height: 30px;
    width: 70px;
}
input{
    height: 25px;
    width: 4rem;
}
#calendar{
    width: 350px;
    height:auto;
    margin-top: 10px;
}
#date{
    font-size:x-large;
    height: 50px;
    width: 100%;
    background: #036;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
}

#week{
    height: 50px;
    width: 100%;
    background: #ccc;
    text-align: center;
    font-weight:600;
}
#week tr td{
    width: 50px;
}
#day{
    width:100%;
    background: #ccc;
    text-align: center;
}
#day tr td{
    height: 50px;
    width: 50px;
}
.t{
    background: white;
}
