<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班主任管理系统</title>
     <link href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <link href="../../static/css/student.css" th:href="@{/css/student.css}" rel="stylesheet">
</head>
<body>
<div width="100%" height="150" border="0" cellpadding="0" cellspacing="0">
    <div width="100%" height="150"><img src="../../static/img/title.jpg" width="100%" height="150" th:src="@{/img/title.jpg}"/></div>
</div>
<table width="100%" height="800px" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td rowspan="9" valign="top"  style="width: 160px"  id="sidebar">
      <div class="col-md-12 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="student.html">
              <span class="glyphicon glyphicon-user"> 学生基本信息管理</span> </a></li>
            <li>
              <a href="integral.html">
                <span class="glyphicon glyphicon-leaf"> 积分考核管理</span>
              </a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>
              <a href="daily.html">
              <span class="glyphicon glyphicon-book"> 班主任日常事务管理</span>
              </a>
            </li>
            <li>
              <a href="message.html">
              <span class="glyphicon glyphicon-envelope"> 消息公布、留言板 </span>
                <span class="badge">14</span>
              </a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="popedon.html">
              <span class="glyphicon glyphicon-cog"> 用户权限设置管理</span></a></li>
            <li>
              <a href="log.html">
              <span class="glyphicon glyphicon-tag"> 登入、登出管理</span>
              </a>
            </li>
          </ul>
        </div>
    </td>
  </tr>
  <tr >
    <td colspan="2" valign="top" id="manTitle" >
      <h3 class="text-center" >学 生 基 本 信 息 管 理</h3>
    </td>
  </tr>
  <tr>
  <td width="557" rowspan="4" valign="top" bgcolor="#FFFFFF" >
    <form class="form-inline">
        <table id="stu-info">
          <!-- 第一行 -->
          <tr>
            <td width="250px">
                 <label for="id" >学&nbsp;号：</label>
                 <input class="form-control" name="id" type="text" readonly="readonly">
            </td>
            <td width="250px">
               <label for="name">姓 名：</label>
               <input class="form-control" name="name" type="text" id="name" size="15" value="">           
            </td>
            <td width="220px">
               <label for="sex"> 性 别：</label>
               <input class="form-control" type="text" name="sex" size="10" value="" />
            </td>
          </tr>
          <!-- 第二行 -->
          <tr>
            <td width="250px">
               <label> 寝 室 号：</label>
               <input class="form-control" name="qinshiid" type="text" size="15" value="">               
            </td>
            <td width="250px">
               <label>联系方式：</label>
               <input class="form-control" name="longno" type="text" size="15" value="">               
            </td>
            <td width="220px">
               <label> 短 号：</label>
               <input class="form-control" name="shortno" type="text" size="15" value="">               
            </td>
          </tr>
          <!-- 第三行 -->
          <tr>
            <td width="250px">
               <label>出生日期：</label>
               <input class="form-control" name="birthday" type="text" size="15" value="">               
            </td>
            <td width="250px">
               <label>父 亲：</label>
               <input class="form-control" name="fname" type="text" size="15" value="">               
            </td>
            <td width="220px">
               <label>母亲：</label>
               <input class="form-control" name="mname" type="text" size="15" value="">               
            </td>
          </tr>
          <!-- 第四行 -->
          <tr >
            <td  colspan="3" class="text-center">
               <label for="adress">家庭地址：</label>
               <input class="form-control" name="address" style="width: 530px;" type="text" value="" size="30" maxlength="30" />        
            </td>
          </tr>
          <!-- 第五行 -->
          <tr >
            <td>
              <label for="findContact">输入学号：</label>
            </td>
            <td> 
              <input class="form-control" type="text" name="findContact" />
            </td>
            <td> 
              <input class="form-control btn btn-info" type="submit" name="submit" value="查找" />                
            </td>
          </tr>
          <tr align="center">
            <td colspan="3">
              <input class="form-control btn btn-info" type="button" name="button1" value=" 修  改 " onClick="submit1()" />
              <input class="form-control btn btn-warning" type="button" name="button2" value="取消修改" onClick="submit2()" />
            </td>
          </tr>
        </table>
      </form>
  </tr>
</table>
  <footer class="" id="footer">
    <div class="container">
    <p class="text-center">© 2021 
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <a href="https://www.github.com/Crud628">班主任管理系统</a></p>
    </div>
  </footer>
</body>
</html>

